# Compiled source #
###################
*.com
*.class
*.o
*.so
*/bin/*
*/obj/*
bin/*
obj/*

# Logs and databases #
######################
*.log
*.sql
*.sqlite

# Visual Studio #
#################
*.userprefs
*.suo
*.sdf
*.opensdf
*.cache
*.pdb
*.csproj.user
*/_ReSharper*/*
*.user

# Nuget #
#########
/packages